@import '../../styles/colors.scss';

.pagination {
    display: flex;
    list-style: none;
    cursor: pointer;
  }
  
  .pagination a {
    padding: 15px;
    border: 1px solid $primary-color;
    color: $primary-color;
    
    &:active {
        border: 1px solid $primary-color;
        color: white;
    }
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    background: $primary-color;
    color: white !important;
  }

  