@import '../../styles/colors.scss';

.not-found-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px);
    background-color: $primary-background-color;

    .not-found-icon {
        display: block;
        color: $primary-color;
    }

    h1.not-found-heading {
        font-size: 10em;
    }

    p.not-found-text {
        font-size: 2em;
    }
    
    a.back-to-login {
        font-size: 1.5em;
    }
}