.bulk-import__wrapper {
    width: 90%;
    margin: 5em auto;
    background-color: white;
}

.bulk-import__header {
    background-color: #133759;
    color: white;
    padding: 1em 0;

    i {
        margin-left: 0.5em;
    }
}

.bulk-import__body {
    display: flex;
    margin-top: 1.5em;
}

.bulk-import__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1em;
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    background-color: #eee;
    color: #888;
    outline: none;
    transition: border .24s ease-in-out;

    p {
        color: #1b6fb9;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
  }

  .bulk-import__instructions {
    padding-left: 2em;
    height: 100%;

    h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    h6 {
        font-weight: bold;
        margin-top: 1em;
    }
  }

  .bulk-import__footer {
    display: flex;
    margin-top: 5em;
    padding-top: 1.5em; 
    border-top: 1px solid #ccc;
    justify-content: flex-end;
}