@import '../../styles/colors.scss';

.scrollTop {
    position: fixed;
    right: 1em;
    width: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    border: 1px transparent;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    padding: 1.5em;
  }