@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.offer-table-header {
    @include header-styles;
    .offer-table-header-content {
        @include header-content-styles;
        button.create-offer, button.import-offer {
            align-self: flex-start;
        }
    }
}

.offers-table-wrapper {
    margin: 0 auto;

    .table {
        width: 80%;
        margin: 0 auto;
        color: #495057;   
        font-size: 0.95em;
        
        tr {
            :hover {
                cursor: pointer;
            }
        }
    }

    button {
        margin-right: 0.5em;
    }
}

.pagination-wrapper {
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 2em;
}

.new-offer-wrapper {
    .new-offer-header {
        @include header-styles;

        .new-offer-header-content {
            @include header-content-styles;
        }
    }

    .new-offer-form {
        @include card-styles;
        width: 60%;
        margin: 0 auto;
        margin-top: 2em;
        padding: 2em;
    
        .date-inputs {
            display: flex;
            
            .start-date {
                margin-right: 1em;
            }
        }

        .new-offer-buttons {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            .reset-offer-button {
                margin-right: 1em;
            }
        }
    }

    .new-offer-errors-wrapper {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 2em;
    }
}

.offer-details-wrapper {
    .offer-details-header {
        @include header-styles;

        .offer-details-header-content {
            @include header-content-styles;
        }
    }

    .offer-details-card {
        padding: 0;
        margin: 0.5em;

        .heading {
            background-color: $primary-color;
            color: white;
        }
    }
}